<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interface Web App</title>
    
  </head>
  <body>
      File uploaded successfully!<br><br>
      
      Generate Diagram for: {{f}}
      <form action="/generate_diagram" method="POST"><br>
          <button name="generate" id = "generate" type="submit" value={{value}}>Click to generate diagram</button>
      </form>
      
	
  </body>
</html>